main {
  Display: grid;
  Grid-template-rows: repeat 20%;
  Grid-template-columns: 30% 70%
}

h2 {
  font-style: none;
  color: black;
  Text-align: center;
}

article {
  border: solid black;
  padding: 5px;
  border-width: 2px;
}


h1 {
  Font-size: 20px;
  color: red;
  Display: block;
  Width: 100px;
}


