body {
  background: url("Track.jpg") repeat;
  opacity: 40%;
  background-position: center;
  background-size: cover;
}

div.banan {
  Border: solid white 1px;
  border-radius: 5px;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background: rgb(71, 71, 71, 0.8);
}
{}
div.banan > p {
  margin: 10px;
  color: white;
}

div.banan > h2 {
  margin: 10px;
  color: white;
  font-size: 40px;
}

Header {

}

header > h1 {
  Text-align: center;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 60px;
  background-color: rgb(71, 71, 71, 0.8);
  Border: solid white 1px;
  border-radius: 5px;
}

header > nav > ul > li > a {
  Color: white;
  list-style: none;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
  margin: 30px;
}

header > nav > ul > li {
  display: inline-block;
}

header > nav > ul {
  list-style: none;
  display: inline-block;
}

header > nav {
  text-align: center;
  Border: solid white 1px;
  border-radius: 5px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(71, 71, 71, 0.8);
}

Main > section.F1vid {
  Display: grid;
  grid-template-columns: 33% 33% 33%;
}

div.Teve {
  Border: solid white 1px;
  border-radius: 5px;
  width: 210px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background: rgb(71, 71, 71, 0.8);
}

Main > section.F1vid > div.Teve > div.TV > video {
  Width: 200px;
  margin: 5px;
}

Main > div.banan > div#bilD > img {
  Width: 200px;
  align: left;
  margin-right: 15px;
  margin-left: 10px;
}

#bilD {
  float: left;
}

Main > div.banan > p {
  Float
}

Main > section > div.Alfa {
  Border: solid white 1px;
  border-radius: 5px;
  background: rgb(71, 71, 71, 0.8);
  Width: 250px;
  height: 150px;
  Margin: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.Alfa > img {
  Width: 130px;
  position: absolute;
  display: block;
  margin-top: -90px;
  margin-left: 110px;
}

Main > section > div.Alfa > a > img {
  Width: 50px;
  display: block;
  margin-top: 60px;
  margin-left: 5px;
}

Div.Alfa > p {
  position: absolute;
  display: block;
  Font-family: Arial;
  font-weight: bold;
  color: white;
  font-size: 20px;
  margin-top: -100px;
  margin-left: 90px;
}

Main > section {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  display: grid;
  grid-template-columns: 50% 50%;
}

Main > section > div.Alfa > h2{
  margin-top: -110px;
  margin-left: 5px;
  Color: white;
  font-size: 40px;
}
